body{
    display: block;
    background-color: bisque;
}

h2{
    text-align: center;
    font-size: 40px;
}

p{
    text-align: center;
    font-size: 30px;
}

button{
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    text-align: center;
}

#demo{
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

.center{
    display: flex;
    justify-content: center;
}